option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    LOG_LEVEL: INFO
    JWT_SECRET: ${JWT_SECRET}
    
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xms: 512m
    Xmx: 1024m
    
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
    SecurityGroups: roomie-matcher-sg
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced 