option_settings:
  # EC2 instance configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    RootVolumeSize: 8
    RootVolumeType: gp2
  
  # Environment type configuration
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    LoadBalancerType: none
  
  # Auto scaling configuration
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  
  # EC2 instance optimization
  aws:ec2:instances:
    EnableSpot: true
    SpotMaxPrice: 0.0035
  
  # Health reporting
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
  
  # Deployment policy
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  
  # CloudWatch logs
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  
  # Application environment variables
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    JAVA_TOOL_OPTIONS: "-Xms96m -Xmx128m -XX:+UseG1GC -XX:MaxGCPauseMillis=100 -XX:+ParallelRefProcEnabled -Xss256k"
    
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xms: 512m
    Xmx: 1024m
    
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
  aws:autoscaling:launchconfiguration:
    SecurityGroups: roomie-matcher-sg
    
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced 