option_settings:
  # RDS connection settings
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: ${RDS_ENDPOINT}
    RDS_PORT: 5432
    RDS_DB_NAME: roomie_auth,roomie_profile,roomie_match,roomie_notification
    RDS_USERNAME: ${DB_USERNAME}
    RDS_PASSWORD: ${DB_PASSWORD}
    
  # Enable enhanced health reporting
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: true

# Configure security group for RDS access
Resources:
  AWSEBSecurityGroupRDSIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 5432
      FromPort: 5432
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupName"] }
      Description: "Allow RDS access from EC2 instances" 