Resources:
  RDSSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: RDS Security Group
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref RoomieMatcherSecurityGroup

  RDSDBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: RDS DB subnet group
      SubnetIds:
        - Fn::ImportValue: !Sub "${VPCStackName}-PrivateSubnet1"
        - Fn::ImportValue: !Sub "${VPCStackName}-PrivateSubnet2"

  RDSInstance:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 20
      DBInstanceClass: db.t3.micro
      Engine: postgres
      EngineVersion: 15.3
      MasterUsername: postgres
      MasterUserPassword: !Ref DBPassword
      DBName: roomiematcher
      VPCSecurityGroups:
        - !GetAtt RDSSecurityGroup.GroupId
      DBSubnetGroupName: !Ref RDSDBSubnetGroup
      MultiAZ: false
      StorageType: gp2
      Tags:
        - Key: Name
          Value: RoomieMatcherRDS
    DeletionPolicy: Snapshot

Parameters:
  DBPassword:
    NoEcho: true
    Type: String
    Default: postgres
    Description: Database password
  VPCStackName:
    Type: String
    Default: RoomieMatcherVPC
    Description: Name of the VPC stack

Outputs:
  RDSEndpoint:
    Description: RDS endpoint address
    Value: !GetAtt RDSInstance.Endpoint.Address 