Resources:
  ScaleDownScheduledAction:
    Type: AWS::AutoScaling::ScheduledAction
    Properties:
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      DesiredCapacity: 0
      MinSize: 0
      MaxSize: 0
      Recurrence: "0 0 * * *"  # Midnight UTC

  ScaleUpScheduledAction:
    Type: AWS::AutoScaling::ScheduledAction
    Properties:
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      DesiredCapacity: 1
      MinSize: 1
      MaxSize: 2
      Recurrence: "0 8 * * *"  # 8 AM UTC 