files:
  "/etc/awslogs/config/application-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [application-logs]
      file = /var/log/eb-docker/containers/eb-current-app/*-stdouterr.log
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/application.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

commands:
  "01_restart_awslogs":
    command: service awslogs restart

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7 