Resources:
  AWSEBEBSVolumeMount:
    Type: "AWS::CloudFormation::Resource"
    Properties:
      ServiceToken: !GetAtt AWSEBAutoScalingGroup.DNSName
      VolumeId: !Ref PersistentVolume
      MountPoint: /var/app/current/postgres-data
      Device: /dev/sdh

  PersistentVolume:
    Type: "AWS::EC2::Volume"
    Properties:
      Size: 10
      AvailabilityZone: !GetAtt AWSEBAutoScalingGroup.AvailabilityZones
      Tags:
        - Key: Name
          Value: RoomieMatcherDBVolume 